codes/WT32-ETH01_TCPServer_4Coils/ModbusClient.json
[
    {
        "id": "44f6583463080f0d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03aadedc52584cba",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ac69bb5dfd46e99",
        "type": "ui_tab",
        "name": "Modbus Client",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5e42d2060985ee4",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "9ac69bb5dfd46e99",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efc5b64ec32f0879",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.212",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "465a81aa6b8b8352",
        "type": "modbus-read",
        "z": "44f6583463080f0d",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "4",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "efc5b64ec32f0879",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "d600b7d49ea0c52d",
                "c4b21518a9c3a087",
                "9a395f786898bcb2",
                "cc403ecdea644ed4",
                "b7fd77c4b36cdb4d"
            ],
            []
        ]
    },
    {
        "id": "615f6d71b0c2e288",
        "type": "ui_button",
        "z": "44f6583463080f0d",
        "name": "",
        "group": "a5e42d2060985ee4",
        "order": 0,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "<font size=\"30\">Relay #1</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "relay1",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "83f70e6ac6ed22db"
            ]
        ]
    },
    {
        "id": "d600b7d49ea0c52d",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "Switch Relay#1",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "e05274875a47890f"
            ],
            [
                "1195c91ac96d3bcc"
            ]
        ]
    },
    {
        "id": "e05274875a47890f",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Green",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "615f6d71b0c2e288"
            ]
        ]
    },
    {
        "id": "1195c91ac96d3bcc",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Grey",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "615f6d71b0c2e288"
            ]
        ]
    },
    {
        "id": "0b01f910b094dbaa",
        "type": "modbus-write",
        "z": "44f6583463080f0d",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "efc5b64ec32f0879",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1340,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4b21518a9c3a087",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set flow relays",
        "rules": [
            {
                "t": "set",
                "p": "relay1",
                "pt": "flow",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "relay2",
                "pt": "flow",
                "to": "payload[1]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "relay3",
                "pt": "flow",
                "to": "payload[2]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "relay4",
                "pt": "flow",
                "to": "payload[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "83f70e6ac6ed22db",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "2827b3506fa1ccd1"
            ],
            [
                "bc24b229af831505"
            ]
        ]
    },
    {
        "id": "bc24b229af831505",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "0b01f910b094dbaa"
            ]
        ]
    },
    {
        "id": "2827b3506fa1ccd1",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "0b01f910b094dbaa"
            ]
        ]
    },
    {
        "id": "7ed1546099e50973",
        "type": "ui_button",
        "z": "44f6583463080f0d",
        "name": "",
        "group": "a5e42d2060985ee4",
        "order": 0,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "<font size=\"30\">Relay #2</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "relay2",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "bb2bc0b9ec3aa3dc"
            ]
        ]
    },
    {
        "id": "9a395f786898bcb2",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "Switch Relay#2",
        "property": "payload[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "60684e475405e592"
            ],
            [
                "deb2b0816b3d9a86"
            ]
        ]
    },
    {
        "id": "60684e475405e592",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Green",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "7ed1546099e50973"
            ]
        ]
    },
    {
        "id": "deb2b0816b3d9a86",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Grey",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "7ed1546099e50973"
            ]
        ]
    },
    {
        "id": "752c0212bda7d4ed",
        "type": "modbus-write",
        "z": "44f6583463080f0d",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "efc5b64ec32f0879",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1340,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bb2bc0b9ec3aa3dc",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "f94f88e5544ed532"
            ],
            [
                "9f6ad3b5472dc020"
            ]
        ]
    },
    {
        "id": "9f6ad3b5472dc020",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "752c0212bda7d4ed"
            ]
        ]
    },
    {
        "id": "f94f88e5544ed532",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "752c0212bda7d4ed"
            ]
        ]
    },
    {
        "id": "c94d97c667f60108",
        "type": "ui_button",
        "z": "44f6583463080f0d",
        "name": "",
        "group": "a5e42d2060985ee4",
        "order": 0,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "<font size=\"30\">Relay #3</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "relay3",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 400,
        "wires": [
            [
                "cf58429faa39a329"
            ]
        ]
    },
    {
        "id": "cc403ecdea644ed4",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "Switch Relay#3",
        "property": "payload[2]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "1a121d31d29b56a9"
            ],
            [
                "33cd746101cf8164"
            ]
        ]
    },
    {
        "id": "1a121d31d29b56a9",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Green",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "c94d97c667f60108"
            ]
        ]
    },
    {
        "id": "33cd746101cf8164",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Grey",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "c94d97c667f60108"
            ]
        ]
    },
    {
        "id": "aff6172090d9e618",
        "type": "modbus-write",
        "z": "44f6583463080f0d",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "efc5b64ec32f0879",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1340,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf58429faa39a329",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "3b757916a8b3aa8b"
            ],
            [
                "33f8f8c216cf1b91"
            ]
        ]
    },
    {
        "id": "33f8f8c216cf1b91",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "aff6172090d9e618"
            ]
        ]
    },
    {
        "id": "3b757916a8b3aa8b",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "aff6172090d9e618"
            ]
        ]
    },
    {
        "id": "67c551eaaf7d617d",
        "type": "ui_button",
        "z": "44f6583463080f0d",
        "name": "",
        "group": "a5e42d2060985ee4",
        "order": 0,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "<font size=\"30\">Relay #3</font>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "relay4",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 500,
        "wires": [
            [
                "964153d7400f54d7"
            ]
        ]
    },
    {
        "id": "b7fd77c4b36cdb4d",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "Switch Relay#4",
        "property": "payload[3]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "b59475ef1e881725"
            ],
            [
                "ebcd34549952de8a"
            ]
        ]
    },
    {
        "id": "b59475ef1e881725",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Green",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "67c551eaaf7d617d"
            ]
        ]
    },
    {
        "id": "ebcd34549952de8a",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set Grey",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "67c551eaaf7d617d"
            ]
        ]
    },
    {
        "id": "03fd2999a3b60eae",
        "type": "modbus-write",
        "z": "44f6583463080f0d",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "efc5b64ec32f0879",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1340,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "964153d7400f54d7",
        "type": "switch",
        "z": "44f6583463080f0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "6dc6576fe6301c53"
            ],
            [
                "aed249d61d05e03a"
            ]
        ]
    },
    {
        "id": "aed249d61d05e03a",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 520,
        "wires": [
            [
                "03fd2999a3b60eae"
            ]
        ]
    },
    {
        "id": "6dc6576fe6301c53",
        "type": "change",
        "z": "44f6583463080f0d",
        "name": "Set True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 480,
        "wires": [
            [
                "03fd2999a3b60eae"
            ]
        ]
    }
]